html > body > header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99;
  /* border-bottom: 1px solid gainsboro; */
}

html > body > header p,
html > body > header a,
html > body > header li {
  font-family: "Ubuntu", sans-serif !important;
  color: black;
}

html > body > header a:hover {
  text-decoration: none;
  border: none;
}

html > body > header p,
html > body > header a,
html > body > header li,
html > body > header span {
  margin: 0;
  font-size: 1rem;
  line-height: 1.2;
}

header .container2 {
  max-width: var(--max-width) !important;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 30px !important;
}

.hamburger-close {
  display: none;

  width: 21px;
  cursor: pointer;
}

header img {
  width: 200px;
}

header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0 !important;
}

html > body > header li {
  margin: 0px 16px;
  cursor: pointer;
}

html > body > header li:hover {
  color: var(--primary-color);
}

/* header a {
  font-size: 1.1rem;
  transition: color 0.3s;
}

header a:hover {
  color: var(--primary-color);
} */

header .hamburger {
  display: none;
  width: 30px;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 60px;
  justify-items: center;

  max-width: 1200px;
  width: 100%;

  padding: 50px 60px;
  padding-top: 35px;
  padding-bottom: 70px;
  position: absolute;
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 9999;

  top: 100%;
  right: 20px;
  /* transform: translateX(-50%); */
  box-shadow: 0px 0.625rem 0.625rem rgba(0, 0, 0, 0.1);
  animation-name: menu-show;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  display: none;
}

@keyframes menu-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html > body > header .nav-menu > a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

html > body > header .nav-menu > a i {
  font-size: 16px;
  padding: 10px;
  background: #ebebeb;
  border-radius: 50%;
  color: var(--primary-color);
  transition: all 0.3s;
}

html > body > header .nav-menu > a > div {
  margin-left: 10px;
}

html > body > header .nav-menu > a > div p {
  font-size: 20px;
  font-weight: 500;
  color: #363636;
  transition: all 0.3s;
}

html > body > header .nav-menu > a > div span {
  font-size: 12px;
  color: #595959;
}

html > body > header .nav-menu > a:hover div p {
  color: var(--primary-color);
}

html > body > header .nav-menu > a:hover i {
  background: var(--primary-color);
  color: white;
}

@media only screen and (max-width: 1100px) {
  html > body > header nav {
    display: none;
    position: fixed;
    z-index: 999;
    inset: 0;
    top: 62px;
    background-color: white;
    overflow-y: auto;
  }

  html > body > header nav ul {
    display: block;
  }

  html > body > header nav ul li {
    margin: 0px 16px;
    cursor: pointer;
    font-size: 22px;
    padding: 16px 20px;
    border-bottom: 1px solid var(--primary-color);
    position: relative;
  }

  html > body > header nav ul li:last-of-type {
    border-bottom: none;
  }

  html > body > header nav ul li::after {
    content: "+";
    right: 10px;
    position: absolute;
  }

  html > body > header .selected-link::after {
    content: "-";
    right: 10px;
    position: absolute;
    font-size: 42px;
    top: 2px;
  }

  html > body > header nav ul li:last-of-type::after {
    content: "";
  }

  html > body > header button {
    font-size: 20px !important;
    padding: 12px 27px !important;
    margin-top: 10px;
    width: 100%;
  }

  html > body > header .hamburger {
    display: block;
  }

  html > body > header .nav-menu {
    position: static;
    padding: 24px;
    box-shadow: none;
  }

  html > body > header .nav-menu a {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 640px) {
  header {
    border-bottom: 1px solid gainsboro;
  }

  header .container2 {
    height: 60px;
  }

  header img {
    width: 148px;
  }

  header .hamburger {
    width: 25px;
  }
}
