.elementor-4235
  .elementor-element.elementor-element-f6d0f16:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-4235
  .elementor-element.elementor-element-f6d0f16
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff9ef;
}
.elementor-4235 .elementor-element.elementor-element-f6d0f16 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: -0px;
  padding: 30px 0px 0px 0px;
}
.elementor-4235
  .elementor-element.elementor-element-f6d0f16
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4235 .elementor-element.elementor-element-5075cbd {
  margin-top: -26px;
  margin-bottom: -26px;
}
.elementor-4235
  .elementor-element.elementor-element-3e1aa8c
  > .elementor-element-populated {
  margin: 113px 0px 0px 0px;
}
.elementor-4235
  .elementor-element.elementor-element-d3a2414
  > .elementor-widget-container {
  margin: -0px 267px -0px 0px;
  padding: -3px 0px 19px 0px;
}
.elementor-4235 .elementor-element.elementor-element-dd7278f .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-4235
  .elementor-element.elementor-element-dd7278f
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: left;
}
.elementor-4235
  .elementor-element.elementor-element-dd7278f
  .elementor-icon-box-content
  .elementor-icon-box-description {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-4235
  .elementor-element.elementor-element-ea36cc4
  > .elementor-widget-container {
  margin: 0px 13px -50px 20px;
  padding: 0px 4px 0px 9px;
}
.elementor-4235 .elementor-element.elementor-element-729a9e67 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 50px 0px;
}
.elementor-4235
  .elementor-element.elementor-element-729a9e67
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4235
  .elementor-element.elementor-element-84d0c56
  > .elementor-element-populated {
  margin: 25px -3px 0px 0px;
  padding: -0px 0px -0px 50px;
}
.elementor-4235 .elementor-element.elementor-element-01f42f9 .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-4235
  .elementor-element.elementor-element-01f42f9
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: left;
}
.elementor-4235
  .elementor-element.elementor-element-01f42f9
  .elementor-icon-box-description {
  text-align: left;
}
.elementor-4235
  .elementor-element.elementor-element-01f42f9
  .elementor-icon-box-content
  .elementor-icon-box-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-4235
  .elementor-element.elementor-element-01f42f9
  .elementor-icon-box-content
  .elementor-icon-box-description {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-4235
  .elementor-element.elementor-element-7f8651e
  .elementor-heading-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-4235 .elementor-element.elementor-element-3649367 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10px 0px 23px 0px;
}
.elementor-4235
  .elementor-element.elementor-element-3649367
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4235
  .elementor-element.elementor-element-af169d0
  > .elementor-element-populated {
  padding: 55px 0px 0px 0px;
}
.elementor-4235
  .elementor-element.elementor-element-26df043
  .elementor-heading-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-4235 .elementor-element.elementor-element-faf17ee .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-4235
  .elementor-element.elementor-element-faf17ee
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: left;
}
.elementor-4235
  .elementor-element.elementor-element-faf17ee
  .elementor-icon-box-content
  .elementor-icon-box-description {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-4235
  .elementor-element.elementor-element-5659f29
  .elementor-heading-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-4235
  .elementor-element.elementor-element-e104920
  > .elementor-element-populated {
  margin: -20px 0px 0px 0px;
  padding: 0px 55px 0px 0px;
}
.elementor-4235
  .elementor-element.elementor-element-f774edc
  > .elementor-widget-container {
  padding: 0px 120px 0px 50px;
}
.elementor-4235 .elementor-element.elementor-element-91e02ae {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 20px 0px 50px 0px;
}
.elementor-4235
  .elementor-element.elementor-element-91e02ae
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4235
  .elementor-element.elementor-element-a980603
  > .elementor-element-populated {
  margin: 0px -0px -0px -0px;
  padding: 0px 90px 0px 150px;
}
.elementor-4235
  .elementor-element.elementor-element-d94f1e7
  > .elementor-widget-container {
  margin: 0px -0px -0px -0px;
  padding: 0px 3px 25px 15px;
}
.elementor-4235
  .elementor-element.elementor-element-516e30e
  > .elementor-element-populated {
  padding: 85px 0px 0px 0px;
}
.elementor-4235
  .elementor-element.elementor-element-5479587
  .elementor-heading-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-4235 .elementor-element.elementor-element-86ded52 .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-4235
  .elementor-element.elementor-element-86ded52
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: left;
}
.elementor-4235
  .elementor-element.elementor-element-86ded52
  .elementor-icon-box-content
  .elementor-icon-box-description {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-4235 .elementor-element.elementor-element-c851010 {
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 0px 0px 25px 0px;
}
.elementor-4235
  .elementor-element.elementor-element-1ee8a21
  .elementor-alert-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.elementor-4235
  .elementor-element.elementor-element-1ee8a21
  .elementor-alert-description {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-4235
  .elementor-element.elementor-element-0bcf14e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-4235
  .elementor-element.elementor-element-0bcf14e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #292e31;
  background-image: url("content/uploads/2021/01/WhatsApp-Bot-Creation-scaled.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-4235
  .elementor-element.elementor-element-0bcf14e
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #000000 0%, #000000 100%);
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4235 .elementor-element.elementor-element-0bcf14e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 0px 30px 0px;
}
.elementor-4235
  .elementor-element.elementor-element-1acf527
  .elementor-spacer-inner {
  height: 5px;
}
.elementor-4235 .elementor-element.elementor-element-5629ccc .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-4235
  .elementor-element.elementor-element-5629ccc
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-4235
  .elementor-element.elementor-element-5629ccc
  .elementor-icon-box-content
  .elementor-icon-box-title {
  font-weight: 600;
}
.elementor-4235 .elementor-element.elementor-element-8d8088b {
  padding: 0px 0px 0px 0px;
}
.elementor-4235
  .elementor-element.elementor-element-54eb864
  .elementor-counter-number-wrapper {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -2px;
}
.elementor-4235
  .elementor-element.elementor-element-54eb864
  .elementor-counter-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}
.elementor-4235
  .elementor-element.elementor-element-36d8003
  .elementor-counter-number-wrapper {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -2px;
}
.elementor-4235
  .elementor-element.elementor-element-36d8003
  .elementor-counter-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}
.elementor-4235
  .elementor-element.elementor-element-28802ea
  .elementor-counter-number-wrapper {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -2px;
}
.elementor-4235
  .elementor-element.elementor-element-28802ea
  .elementor-counter-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.elementor-4235
  .elementor-element.elementor-element-bef0085
  .elementor-counter-number-wrapper {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -2px;
}
.elementor-4235
  .elementor-element.elementor-element-bef0085
  .elementor-counter-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.elementor-4235
  .elementor-element.elementor-element-fd7be6c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-4235
  .elementor-element.elementor-element-fd7be6c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ff5e13;
}
.elementor-4235 .elementor-element.elementor-element-fd7be6c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-4235
  .elementor-element.elementor-element-fd7be6c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4235
  .elementor-element.elementor-element-8005a1b
  .elementor-spacer-inner {
  height: 25px;
}
.elementor-4235 .elementor-element.elementor-element-dc3895f .th-cta-text span {
  color: #ffffff;
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-4235
  .elementor-element.elementor-element-dc3895f
  .th-cta-btn
  .btn-1 {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: bold;
}
.elementor-4235
  .elementor-element.elementor-element-90f99f9
  .elementor-spacer-inner {
  height: 20px;
}
.elementor-4235 .elementor-element.elementor-element-bf0c5a9 {
  padding: 25px 0px 25px 0px;
}
.elementor-4235 .elementor-element.elementor-element-5adf219 {
  text-align: center;
}
.elementor-4235
  .elementor-element.elementor-element-5adf219
  .elementor-heading-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-4235 .elementor-element.elementor-element-c6d9ab9 {
  padding: 0px 0px 30px 0px;
}
.elementor-4235
  .elementor-element.elementor-element-c996148
  .elementor-accordion
  .elementor-accordion-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: 700;
}
.elementor-4235
  .elementor-element.elementor-element-c996148
  .elementor-accordion
  .elementor-tab-content {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
body.elementor-page-4235 h1.entry-title {
  margin-top: 1px;
}
:root {
  --page-title-display: none;
}
@media (max-width: 1024px) {
  .elementor-4235
    .elementor-element.elementor-element-54eb864
    .elementor-counter-title {
    line-height: 22px;
  }
  .elementor-4235
    .elementor-element.elementor-element-36d8003
    .elementor-counter-title {
    line-height: 22px;
  }
  .elementor-4235
    .elementor-element.elementor-element-28802ea
    .elementor-counter-title {
    line-height: 22px;
  }
  .elementor-4235
    .elementor-element.elementor-element-bef0085
    .elementor-counter-title {
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .elementor-4235
    .elementor-element.elementor-element-d3a2414
    > .elementor-widget-container {
    margin: -1px -1px -1px -1px;
  }
  .elementor-4235
    .elementor-element.elementor-element-4880c78
    > .elementor-element-populated {
    margin: 23px -2px -2px -2px;
    padding: 13px -3px -12px -12px;
  }
  .elementor-4235
    .elementor-element.elementor-element-ea36cc4
    > .elementor-widget-container {
    margin: -35px -35px -35px -35px;
  }
  .elementor-4235
    .elementor-element.elementor-element-84d0c56
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-4235 .elementor-element.elementor-element-3649367 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-4235
    .elementor-element.elementor-element-af169d0
    > .elementor-column-wrap
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
      .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-4235
    .elementor-element.elementor-element-af169d0
    > .elementor-element-populated {
    margin: 11px 0px 28px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-4235
    .elementor-element.elementor-element-faf17ee
    .elementor-icon-box-content
    .elementor-icon-box-title {
    font-size: 24px;
  }
  .elementor-4235
    .elementor-element.elementor-element-faf17ee
    .elementor-icon-box-content
    .elementor-icon-box-description {
    font-size: 16px;
  }
  .elementor-4235
    .elementor-element.elementor-element-5659f29
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 12px 0px 0px 0px;
  }
  .elementor-4235
    .elementor-element.elementor-element-e5d35f3
    > .elementor-widget-container {
    margin: 8px 0px 0px 0px;
    padding: 18px 0px 0px 0px;
  }
  .elementor-4235
    .elementor-element.elementor-element-e104920
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-4235 .elementor-element.elementor-element-f774edc {
    text-align: center;
  }
  .elementor-4235
    .elementor-element.elementor-element-f774edc
    > .elementor-widget-container {
    margin: 0px 26px 0px -0px;
    padding: 0px 22px 0px 0px;
  }
  .elementor-4235
    .elementor-element.elementor-element-a980603
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 7px 0px 0px;
  }
  .elementor-4235
    .elementor-element.elementor-element-516e30e
    > .elementor-column-wrap
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
      .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-4235
    .elementor-element.elementor-element-516e30e
    > .elementor-element-populated {
    margin: 27px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-4235
    .elementor-element.elementor-element-86ded52
    .elementor-icon-box-content
    .elementor-icon-box-title {
    font-size: 24px;
  }
  .elementor-4235
    .elementor-element.elementor-element-86ded52
    .elementor-icon-box-content
    .elementor-icon-box-description {
    font-size: 16px;
  }
  .elementor-4235 .elementor-element.elementor-element-0bcf14e {
    padding: 020px 0px 25px 0px;
  }
  .elementor-4235
    .elementor-element.elementor-element-2f80919
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
  .elementor-4235 .elementor-element.elementor-element-3e1aa8c {
    width: 53.393%;
  }
  .elementor-4235 .elementor-element.elementor-element-4880c78 {
    width: 46.607%;
  }
  .elementor-4235 .elementor-element.elementor-element-364d8e8 {
    width: 24.688%;
  }
  .elementor-4235 .elementor-element.elementor-element-5c150127 {
    width: 24.633%;
  }
  .elementor-4235 .elementor-element.elementor-element-84d0c56 {
    width: 50.343%;
  }
  .elementor-4235 .elementor-element.elementor-element-af169d0 {
    width: 51.369%;
  }
  .elementor-4235 .elementor-element.elementor-element-e104920 {
    width: 48.582%;
  }
  .elementor-4235 .elementor-element.elementor-element-a980603 {
    width: 44.917%;
  }
  .elementor-4235 .elementor-element.elementor-element-516e30e {
    width: 55.083%;
  }
}
@media (min-width: 1025px) {
  .elementor-4235
    .elementor-element.elementor-element-0bcf14e:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-4235
    .elementor-element.elementor-element-0bcf14e
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
}
