.elementor-190
  .elementor-element.elementor-element-621c20e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-190
  .elementor-element.elementor-element-621c20e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #b1cbdc;
  background-image: url("content/uploads/2022/10/diverse-people-working-office.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.elementor-190 .elementor-element.elementor-element-621c20e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-190
  .elementor-element.elementor-element-621c20e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-190
  .elementor-element.elementor-element-dfb449b
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-190
  .elementor-element.elementor-element-78e9bd8
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-190 .elementor-element.elementor-element-78e9bd8 {
  margin-top: 122px;
  margin-bottom: 108px;
  padding: 32px 0px 0px 0px;
}
.elementor-190
  .elementor-element.elementor-element-4d939bd
  > .elementor-element-populated {
  margin: 23px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-190 .elementor-element.elementor-element-ecc485b .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-190
  .elementor-element.elementor-element-ecc485b
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-190
  .elementor-element.elementor-element-ecc485b
  .elementor-icon-box-content
  .elementor-icon-box-title {
  color: #ffffff;
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 40px;
  font-weight: normal;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.elementor-190
  .elementor-element.elementor-element-ecc485b
  .elementor-icon-box-content
  .elementor-icon-box-description {
  color: #ffffff;
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-190
  .elementor-element.elementor-element-ecc485b
  .elementor-icon-box-content
  .elementor-icon-box-description
  a {
  color: #ffffff;
}
.elementor-190 .elementor-element.elementor-element-rtdmrfv {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-190
  .elementor-element.elementor-element-rtdmrfv
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-190
  .elementor-element.elementor-element-znwdoyu
  .elementor-spacer-inner {
  height: 40px;
}
.elementor-190
  .elementor-element.elementor-element-zkzrigj
  .elementor-spacer-inner {
  height: 40px;
}
.elementor-190
  .elementor-element.elementor-element-07245bb:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-190
  .elementor-element.elementor-element-07245bb
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #fff 50%, #f7f7f7 50%);
}
.elementor-190 .elementor-element.elementor-element-07245bb {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 50px 0px;
}
.elementor-190
  .elementor-element.elementor-element-07245bb
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-190
  .elementor-element.elementor-element-a40a459
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-190
  .elementor-element.elementor-element-a40a459
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-190
  .elementor-element.elementor-element-2e0d1b1:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-190
  .elementor-element.elementor-element-2e0d1b1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-190 .elementor-element.elementor-element-2e0d1b1,
.elementor-190
  .elementor-element.elementor-element-2e0d1b1
  > .elementor-background-overlay {
  border-radius: 15px 15px 15px 15px;
}
.elementor-190 .elementor-element.elementor-element-2e0d1b1 {
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.11);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 0px 30px 0px;
}
.elementor-190
  .elementor-element.elementor-element-2e0d1b1
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-190
  .elementor-element.elementor-element-9810e36:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-190
  .elementor-element.elementor-element-9810e36
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-190
  .elementor-element.elementor-element-9810e36
  > .elementor-element-populated,
.elementor-190
  .elementor-element.elementor-element-9810e36
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-190
  .elementor-element.elementor-element-9810e36
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-190
  .elementor-element.elementor-element-9810e36
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 20px 20px 20px 20px;
}
.elementor-190
  .elementor-element.elementor-element-9810e36
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-190 .elementor-element.elementor-element-dee8de5 .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-190
  .elementor-element.elementor-element-dee8de5
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: left;
}
.elementor-190
  .elementor-element.elementor-element-dee8de5
  .elementor-icon-box-content
  .elementor-icon-box-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-190
  .elementor-element.elementor-element-dee8de5
  .elementor-icon-box-content
  .elementor-icon-box-description {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-190 .elementor-element.elementor-element-8f2a591 .elementor-button {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: #ff5e13;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ff5e13;
  border-radius: 15px 15px 15px 15px;
}
.elementor-190
  .elementor-element.elementor-element-8f2a591
  > .elementor-widget-container {
  margin: -20px 0px 0px 0px;
}
.elementor-190 .elementor-element.elementor-element-8f2a591 {
  width: auto;
  max-width: auto;
}
.elementor-190
  .elementor-element.elementor-element-f458273:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-190
  .elementor-element.elementor-element-f458273
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-190
  .elementor-element.elementor-element-f458273
  > .elementor-element-populated,
.elementor-190
  .elementor-element.elementor-element-f458273
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-190
  .elementor-element.elementor-element-f458273
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-190
  .elementor-element.elementor-element-f458273
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 20px 20px 20px 20px;
}
.elementor-190
  .elementor-element.elementor-element-f458273
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-190
  .elementor-element.elementor-element-2a3ff44:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-190
  .elementor-element.elementor-element-2a3ff44
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f7f7f7;
}
.elementor-190 .elementor-element.elementor-element-2a3ff44 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-190
  .elementor-element.elementor-element-2a3ff44
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-190
  .elementor-element.elementor-element-de750e7
  .elementor-spacer-inner {
  height: 30px;
}
.elementor-190
  .elementor-element.elementor-element-e7a77bb
  > .elementor-widget-container {
  margin: 0px -0px 0px -17px;
  padding: 14px 14px 14px 14px;
}
.elementor-bc-flex-widget
  .elementor-190
  .elementor-element.elementor-element-df43577.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-190
  .elementor-element.elementor-element-df43577.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-190 .elementor-element.elementor-element-b85beb9 {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-190
  .elementor-element.elementor-element-51cb6bc
  .elementor-spacer-inner {
  height: 80px;
}
.elementor-190 .elementor-element.elementor-element-d0dde61 {
  padding: 80px 0px 80px 0px;
}
.elementor-190
  .elementor-element.elementor-element-b6dfa9b
  > .elementor-element-populated {
  margin: 0% 5% 0% 5%;
}
.elementor-190
  .elementor-element.elementor-element-1745b8e
  .elementor-heading-title {
  color: #ff5e13;
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: 600;
}
.elementor-190 .elementor-element.elementor-element-9def607 {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-190
  .elementor-element.elementor-element-8704415
  > .elementor-element-populated {
  margin: 0% 5% 0% 5%;
}
.elementor-190
  .elementor-element.elementor-element-e7b9c5a
  .elementor-heading-title {
  color: #ff5e13;
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: 600;
}
.elementor-190 .elementor-element.elementor-element-5736c06 {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-190
  .elementor-element.elementor-element-558c070:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-190
  .elementor-element.elementor-element-558c070
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #f0f0f0 0%, #f0f0f0 100%);
}
.elementor-190
  .elementor-element.elementor-element-558c070
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #e7e7e7 0%, #ffffff 100%);
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-190 .elementor-element.elementor-element-558c070 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-190
  .elementor-element.elementor-element-6b4b819:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-190
  .elementor-element.elementor-element-6b4b819
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f0f0f0;
  background-image: url("content/uploads/2022/10/6-1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 92% auto;
}
.elementor-190
  .elementor-element.elementor-element-6b4b819
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-190
  .elementor-element.elementor-element-6b4b819
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-190
  .elementor-element.elementor-element-546106d.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-190
  .elementor-element.elementor-element-546106d.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-190
  .elementor-element.elementor-element-546106d:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-190
  .elementor-element.elementor-element-546106d
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #f0f0f0 0%, #f0f0f0 100%);
}
.elementor-190
  .elementor-element.elementor-element-546106d
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 20px 0px 20px;
}
.elementor-190
  .elementor-element.elementor-element-546106d
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-190
  .elementor-element.elementor-element-ec8da9a
  .elementor-spacer-inner {
  height: 20px;
}
.elementor-190
  .elementor-element.elementor-element-7bce678
  .elementor-spacer-inner {
  height: 20px;
}
.elementor-190 .elementor-element.elementor-element-09428b3 .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-190
  .elementor-element.elementor-element-09428b3
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: left;
}
.elementor-190
  .elementor-element.elementor-element-09428b3
  .elementor-icon-box-description {
  text-align: left;
}
.elementor-190
  .elementor-element.elementor-element-09428b3
  .elementor-icon-box-content
  .elementor-icon-box-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-190
  .elementor-element.elementor-element-fc4d211
  .elementor-icon-box-content
  .elementor-icon-box-title
  span {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: 600;
}
.elementor-190
  .elementor-element.elementor-element-fc4d211
  .elementor-icon-box-content
  .elementor-icon-box-description,
.elementor-190
  .elementor-element.elementor-element-fc4d211
  .elementor-icon-box-content
  .elementor-icon-box-description
  a {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-190
  .elementor-element.elementor-element-a7d7e8a
  .elementor-icon-box-content
  .elementor-icon-box-title
  span {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: 600;
}
.elementor-190
  .elementor-element.elementor-element-a7d7e8a
  .elementor-icon-box-content
  .elementor-icon-box-description,
.elementor-190
  .elementor-element.elementor-element-a7d7e8a
  .elementor-icon-box-content
  .elementor-icon-box-description
  a {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-190
  .elementor-element.elementor-element-068842b
  .elementor-icon-box-content
  .elementor-icon-box-title
  span {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: 600;
}
.elementor-190
  .elementor-element.elementor-element-068842b
  .elementor-icon-box-content
  .elementor-icon-box-description,
.elementor-190
  .elementor-element.elementor-element-068842b
  .elementor-icon-box-content
  .elementor-icon-box-description
  a {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-190 .elementor-element.elementor-element-cd9ccff {
  margin-top: 59px;
  margin-bottom: 0px;
}
.elementor-190 .elementor-element.elementor-element-1f6c63e .elementor-button {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: #ff5e13;
  border-style: solid;
  border-width: 2px 10px 2px 10px;
  border-color: #ff5e13;
  border-radius: 15px 15px 15px 15px;
}
.elementor-190
  .elementor-element.elementor-element-1f6c63e
  > .elementor-widget-container {
  margin: -20px 0px 0px 0px;
  padding: 0px 0px 0px 139px;
}
.elementor-190 .elementor-element.elementor-element-1f6c63e {
  width: auto;
  max-width: auto;
}
.elementor-190 .elementor-element.elementor-element-c427e3b .elementor-button {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: #ff5e13;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ff5e13;
  border-radius: 15px 15px 15px 15px;
}
.elementor-190
  .elementor-element.elementor-element-c427e3b
  > .elementor-widget-container {
  margin: -20px 13px 0px 0px;
  padding: 0px 1px 0px 50px;
}
.elementor-190 .elementor-element.elementor-element-c427e3b {
  width: auto;
  max-width: auto;
}
.elementor-190 .elementor-element.elementor-element-30dba5a .elementor-button {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: #ff5e13;
  border-style: solid;
  border-width: 2px 15px 2px 15px;
  border-color: #ff5e13;
  border-radius: 15px 15px 15px 15px;
}
.elementor-190
  .elementor-element.elementor-element-30dba5a
  > .elementor-widget-container {
  margin: -20px 13px 0px 0px;
  padding: 0px 1px 0px 40px;
}
.elementor-190 .elementor-element.elementor-element-30dba5a {
  width: auto;
  max-width: auto;
}
.elementor-190 .elementor-element.elementor-element-bc9e9a6 .elementor-button {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: #ff5e13;
  border-style: solid;
  border-width: 2px 15px 2px 15px;
  border-color: #ff5e13;
  border-radius: 15px 15px 15px 15px;
}
.elementor-190
  .elementor-element.elementor-element-bc9e9a6
  > .elementor-widget-container {
  margin: -20px 13px 0px 0px;
  padding: 0px 1px 0px 40px;
}
.elementor-190 .elementor-element.elementor-element-bc9e9a6 {
  width: auto;
  max-width: auto;
}
.elementor-190
  .elementor-element.elementor-element-170efc6:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-190
  .elementor-element.elementor-element-170efc6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-190 .elementor-element.elementor-element-170efc6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 60px 40px 40px 40px;
}
.elementor-190
  .elementor-element.elementor-element-170efc6
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-190
  .elementor-element.elementor-element-d62e311
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-190 .elementor-element.elementor-element-4e34411 .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-190
  .elementor-element.elementor-element-4e34411
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-190
  .elementor-element.elementor-element-4e34411
  .elementor-icon-box-content
  .elementor-icon-box-title {
  color: #272727;
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: 600;
}
.elementor-190
  .elementor-element.elementor-element-cf9cb4a
  .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-190
  .elementor-element.elementor-element-cf9cb4a
  .elementor-swiper-button.elementor-swiper-button-next {
  font-size: 20px;
  color: #555555;
}
.elementor-190
  .elementor-element.elementor-element-8dbad21
  .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-190
  .elementor-element.elementor-element-8dbad21
  .elementor-swiper-button.elementor-swiper-button-next {
  font-size: 20px;
  color: #555555;
}
body.elementor-page-190 h1.entry-title {
  margin-top: 1px;
}
:root {
  --page-title-display: none;
}
@media (max-width: 1024px) {
  .elementor-190
    .elementor-element.elementor-element-ec8da9a
    .elementor-spacer-inner {
    height: 0px;
  }
}
@media (max-width: 767px) {
  .elementor-190
    .elementor-element.elementor-element-621c20e:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-190
    .elementor-element.elementor-element-621c20e
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url("content/uploads/2022/10/diverse-people-working-office.jpg");
    background-size: cover;
  }
  .elementor-190
    .elementor-element.elementor-element-znwdoyu
    .elementor-spacer-inner {
    height: 0px;
  }
  .elementor-190
    .elementor-element.elementor-element-de750e7
    .elementor-spacer-inner {
    height: 0px;
  }
  .elementor-190
    .elementor-element.elementor-element-51cb6bc
    .elementor-spacer-inner {
    height: 40px;
  }
  .elementor-190
    .elementor-element.elementor-element-6b4b819:not(
      .elementor-motion-effects-element-type-background
    )
    > .elementor-column-wrap,
  .elementor-190
    .elementor-element.elementor-element-6b4b819
    > .elementor-column-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url("content/uploads/2022/10/6-1.png");
  }
  .elementor-190
    .elementor-element.elementor-element-6b4b819
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-190
    .elementor-element.elementor-element-546106d
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
  }
  .elementor-190
    .elementor-element.elementor-element-ec8da9a
    .elementor-spacer-inner {
    height: 0px;
  }
  .elementor-190 .elementor-element.elementor-element-cd9ccff {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: -0px -0px -0px -0px;
  }
  .elementor-190
    .elementor-element.elementor-element-1f6c63e
    .elementor-button {
    padding: 10px 29px 10px 29px;
  }
  .elementor-190
    .elementor-element.elementor-element-1f6c63e
    > .elementor-widget-container {
    margin: 3px 3px 3px 3px;
    padding: 4px 31px 7px 45px;
  }
  .elementor-190
    .elementor-element.elementor-element-c427e3b
    .elementor-button {
    padding: 10px 18px 10px 18px;
  }
  .elementor-190
    .elementor-element.elementor-element-c427e3b
    > .elementor-widget-container {
    margin: 2px 2px 2px 2px;
    padding: 0px 37px 0px 47px;
  }
  .elementor-190
    .elementor-element.elementor-element-30dba5a
    .elementor-button {
    padding: 10px 26px 10px 26px;
  }
  .elementor-190
    .elementor-element.elementor-element-30dba5a
    > .elementor-widget-container {
    margin: 2px 2px 2px 2px;
    padding: 11px 40px 0px 49px;
  }
  .elementor-190
    .elementor-element.elementor-element-bc9e9a6
    .elementor-button {
    padding: 10px 35px 10px 35px;
  }
  .elementor-190
    .elementor-element.elementor-element-bc9e9a6
    > .elementor-widget-container {
    margin: 2px 2px 2px 2px;
    padding: 11px 40px 0px 49px;
  }
  .elementor-190 .elementor-element.elementor-element-170efc6 {
    padding: 25px 25px 25px 25px;
  }
  .elementor-190
    .elementor-element.elementor-element-d62e311
    > .elementor-column-wrap
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
      .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) {
  .elementor-190 .elementor-element.elementor-element-9810e36 {
    width: 53.108%;
  }
  .elementor-190 .elementor-element.elementor-element-f458273 {
    width: 46.84%;
  }
}
@media (min-width: 1025px) {
  .elementor-190
    .elementor-element.elementor-element-621c20e:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-190
    .elementor-element.elementor-element-621c20e
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
  .elementor-190
    .elementor-element.elementor-element-6b4b819:not(
      .elementor-motion-effects-element-type-background
    )
    > .elementor-column-wrap,
  .elementor-190
    .elementor-element.elementor-element-6b4b819
    > .elementor-column-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
}
