.elementor-15057
  .elementor-element.elementor-element-d812af1:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-15057
  .elementor-element.elementor-element-d812af1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #b1cbdc;
  background-image: url("content/uploads/2022/11/banner2-01.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.elementor-15057 .elementor-element.elementor-element-d812af1 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-15057
  .elementor-element.elementor-element-d812af1
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-15057
  .elementor-element.elementor-element-bb5031d
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-15057
  .elementor-element.elementor-element-b437cac
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-15057 .elementor-element.elementor-element-b437cac {
  margin-top: 250px;
  margin-bottom: 109px;
  padding: 32px 0px 0px 0px;
}
.elementor-15057
  .elementor-element.elementor-element-0b51f61:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-15057
  .elementor-element.elementor-element-0b51f61
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-15057 .elementor-element.elementor-element-0b51f61 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 45px 0px 45px 0px;
}
.elementor-15057
  .elementor-element.elementor-element-0b51f61
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-15057 .elementor-element.elementor-element-ad60fa9 .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-15057
  .elementor-element.elementor-element-ad60fa9
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-15057
  .elementor-element.elementor-element-7f3a2b2
  .elementor-icon-box-content
  .elementor-icon-box-title
  span {
  font-weight: 600;
}
.elementor-15057
  .elementor-element.elementor-element-3b88fc4
  .elementor-icon-box-content
  .elementor-icon-box-title
  span {
  font-weight: 600;
}
.elementor-15057 .elementor-element.elementor-element-f0d85b8 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-15057
  .elementor-element.elementor-element-cf7d509
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 8px 0px 0px 0px;
}
.elementor-15057
  .elementor-element.elementor-element-3dd0ea3
  .elementor-icon-box-content
  .elementor-icon-box-title
  span {
  font-weight: 600;
}
.elementor-15057
  .elementor-element.elementor-element-3dd0ea3
  > .elementor-widget-container {
  padding: 0px 160px 0px 286px;
}
.elementor-15057 .elementor-element.elementor-element-60909c3 {
  padding: 50px 0px 50px 0px;
}
.elementor-15057 .elementor-element.elementor-element-b97159b {
  text-align: center;
}
.elementor-15057 .elementor-element.elementor-element-0a8c021,
.elementor-15057
  .elementor-element.elementor-element-0a8c021
  > .elementor-background-overlay {
  border-radius: 10px 10px 10px 10px;
}
.elementor-15057 .elementor-element.elementor-element-0a8c021 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 40px 0px 40px 0px;
}
.elementor-15057
  .elementor-element.elementor-element-d812a00
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
  background-color: #292e31;
}
.elementor-bc-flex-widget
  .elementor-15057
  .elementor-element.elementor-element-82676e4.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-15057
  .elementor-element.elementor-element-82676e4.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-15057 .elementor-element.elementor-element-cc7e7b5 .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-15057
  .elementor-element.elementor-element-cc7e7b5
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-15057
  .elementor-element.elementor-element-9d431a7
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-15057 .elementor-element.elementor-element-3f43967,
.elementor-15057
  .elementor-element.elementor-element-3f43967
  > .elementor-background-overlay {
  border-radius: 10px 10px 10px 10px;
}
.elementor-15057 .elementor-element.elementor-element-3f43967 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 40px 0px 40px 0px;
}
.elementor-bc-flex-widget
  .elementor-15057
  .elementor-element.elementor-element-6ad6a58.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-15057
  .elementor-element.elementor-element-6ad6a58.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-15057 .elementor-element.elementor-element-f84f9a2 .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-15057
  .elementor-element.elementor-element-f84f9a2
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-15057
  .elementor-element.elementor-element-1cc1e8e
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
  background-color: #292e31;
}
.elementor-15057
  .elementor-element.elementor-element-77ebcd9
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-15057 .elementor-element.elementor-element-828f2ab,
.elementor-15057
  .elementor-element.elementor-element-828f2ab
  > .elementor-background-overlay {
  border-radius: 10px 10px 10px 10px;
}
.elementor-15057 .elementor-element.elementor-element-828f2ab {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 40px 0px 40px 0px;
}
.elementor-15057
  .elementor-element.elementor-element-a646cd2
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #292e31;
}
.elementor-bc-flex-widget
  .elementor-15057
  .elementor-element.elementor-element-fcce2d6.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-15057
  .elementor-element.elementor-element-fcce2d6.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-15057 .elementor-element.elementor-element-0e36aed .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-15057
  .elementor-element.elementor-element-0e36aed
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-15057
  .elementor-element.elementor-element-76df342
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-15057 .elementor-element.elementor-element-ca8a128,
.elementor-15057
  .elementor-element.elementor-element-ca8a128
  > .elementor-background-overlay {
  border-radius: 10px 10px 10px 10px;
}
.elementor-15057 .elementor-element.elementor-element-ca8a128 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-15057
  .elementor-element.elementor-element-4e08135.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-15057
  .elementor-element.elementor-element-4e08135.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-15057 .elementor-element.elementor-element-a87eeb6 .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-15057
  .elementor-element.elementor-element-a87eeb6
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-15057
  .elementor-element.elementor-element-b22d0ae
  > .elementor-element-populated {
  margin: 145px 145px 145px 145px;
  padding: 0px 0px 0px 0px;
}
.elementor-15057
  .elementor-element.elementor-element-5250f45
  > .elementor-widget-container {
  margin: -112px -0px -112px -0px;
  padding: 0px 0px 0px 0px;
  background-color: #292e31;
}
.elementor-15057
  .elementor-element.elementor-element-686e5bd
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-15057 .elementor-element.elementor-element-dadf3f9,
.elementor-15057
  .elementor-element.elementor-element-dadf3f9
  > .elementor-background-overlay {
  border-radius: 10px 10px 10px 10px;
}
.elementor-15057 .elementor-element.elementor-element-dadf3f9 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 40px 0px 40px 0px;
}
.elementor-15057
  .elementor-element.elementor-element-d2addca
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
  background-color: #292e31;
}
.elementor-bc-flex-widget
  .elementor-15057
  .elementor-element.elementor-element-a149c92.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-15057
  .elementor-element.elementor-element-a149c92.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-15057 .elementor-element.elementor-element-68bb4b5 .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-15057
  .elementor-element.elementor-element-68bb4b5
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-15057
  .elementor-element.elementor-element-584fa86
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-15057 .elementor-element.elementor-element-e1399b3,
.elementor-15057
  .elementor-element.elementor-element-e1399b3
  > .elementor-background-overlay {
  border-radius: 10px 10px 10px 10px;
}
.elementor-15057 .elementor-element.elementor-element-e1399b3 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 40px 0px 40px 0px;
}
.elementor-bc-flex-widget
  .elementor-15057
  .elementor-element.elementor-element-4a0385b.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-15057
  .elementor-element.elementor-element-4a0385b.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-15057 .elementor-element.elementor-element-62e4af2 .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-15057
  .elementor-element.elementor-element-62e4af2
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-15057
  .elementor-element.elementor-element-1cc8387
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
  background-color: #292e31;
}
.elementor-15057
  .elementor-element.elementor-element-eb462c5
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-15057 .elementor-element.elementor-element-3316f55 {
  padding: 50px 0px 50px 0px;
}
.elementor-15057 .elementor-element.elementor-element-f31d5f9 {
  text-align: center;
}
.elementor-15057 .elementor-element.elementor-element-1cd20e7,
.elementor-15057
  .elementor-element.elementor-element-1cd20e7
  > .elementor-background-overlay {
  border-radius: 10px 10px 10px 10px;
}
.elementor-15057 .elementor-element.elementor-element-1cd20e7 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 40px 0px 40px 0px;
}
.elementor-15057
  .elementor-element.elementor-element-0504ae3
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
  background-color: #292e31;
}
.elementor-bc-flex-widget
  .elementor-15057
  .elementor-element.elementor-element-1efa6d3.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-15057
  .elementor-element.elementor-element-1efa6d3.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-15057 .elementor-element.elementor-element-f578d17 .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-15057
  .elementor-element.elementor-element-f578d17
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-15057
  .elementor-element.elementor-element-e05a01e
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-15057 .elementor-element.elementor-element-b9dee42,
.elementor-15057
  .elementor-element.elementor-element-b9dee42
  > .elementor-background-overlay {
  border-radius: 10px 10px 10px 10px;
}
.elementor-15057 .elementor-element.elementor-element-b9dee42 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 40px 0px 40px 0px;
}
.elementor-bc-flex-widget
  .elementor-15057
  .elementor-element.elementor-element-cea4c13.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-15057
  .elementor-element.elementor-element-cea4c13.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-15057 .elementor-element.elementor-element-6f0cbab .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-15057
  .elementor-element.elementor-element-6f0cbab
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-15057
  .elementor-element.elementor-element-036c810
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
  background-color: #292e31;
}
.elementor-15057
  .elementor-element.elementor-element-3b70c1c
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-15057 .elementor-element.elementor-element-92c899f,
.elementor-15057
  .elementor-element.elementor-element-92c899f
  > .elementor-background-overlay {
  border-radius: 10px 10px 10px 10px;
}
.elementor-15057 .elementor-element.elementor-element-92c899f {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 40px 0px 40px 0px;
}
.elementor-15057
  .elementor-element.elementor-element-f8bf4a6
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
  background-color: #292e31;
}
.elementor-bc-flex-widget
  .elementor-15057
  .elementor-element.elementor-element-9493d62.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-15057
  .elementor-element.elementor-element-9493d62.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-15057 .elementor-element.elementor-element-80a18c7 .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-15057
  .elementor-element.elementor-element-80a18c7
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-15057
  .elementor-element.elementor-element-3a78a06
  .elementor-spacer-inner {
  height: 50px;
}
:root {
  --page-title-display: none;
}
@media (max-width: 767px) {
  .elementor-15057 .elementor-element.elementor-element-b437cac {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .elementor-15057
    .elementor-element.elementor-element-98c89a1
    > .elementor-element-populated {
    margin: 0px 0px -11px 0px;
    padding: -1px -1px -11px -1px;
  }
  .elementor-15057
    .elementor-element.elementor-element-ad60fa9
    .elementor-icon-box-content
    .elementor-icon-box-title {
    font-size: 24px;
  }
  .elementor-15057
    .elementor-element.elementor-element-ad60fa9
    .elementor-icon-box-content
    .elementor-icon-box-description {
    font-size: 16px;
  }
  .elementor-15057
    .elementor-element.elementor-element-cf7d509
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-15057
    .elementor-element.elementor-element-3dd0ea3
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-15057
    .elementor-element.elementor-element-b22d0ae
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
  }
  .elementor-15057
    .elementor-element.elementor-element-5250f45
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}
