.elementor-8014 .elementor-element.elementor-element-65cd25b {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #3877eb;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-8014
  .elementor-element.elementor-element-65cd25b
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8014 .elementor-element.elementor-element-80bd511 {
  text-align: left;
}
.elementor-8014
  .elementor-element.elementor-element-ff463a3.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-8014
  .elementor-element.elementor-element-9186057.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-8014
  .elementor-element.elementor-element-6cbb1ad.elementor-position-right
  .elementor-image-box-img {
  margin-left: 7px;
}
.elementor-8014
  .elementor-element.elementor-element-6cbb1ad.elementor-position-left
  .elementor-image-box-img {
  margin-right: 7px;
}
.elementor-8014
  .elementor-element.elementor-element-6cbb1ad.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 7px;
}
.elementor-8014
  .elementor-element.elementor-element-6cbb1ad
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-8014
  .elementor-element.elementor-element-6cbb1ad
  .elementor-image-box-content
  .elementor-image-box-title {
  font-weight: 600;
}
.elementor-8014 .elementor-element.elementor-element-6cbb1ad {
  width: auto;
  max-width: auto;
}
.elementor-8014
  .elementor-element.elementor-element-f8676e0.elementor-position-right
  .elementor-image-box-img {
  margin-left: 7px;
}
.elementor-8014
  .elementor-element.elementor-element-f8676e0.elementor-position-left
  .elementor-image-box-img {
  margin-right: 7px;
}
.elementor-8014
  .elementor-element.elementor-element-f8676e0.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 7px;
}
.elementor-8014
  .elementor-element.elementor-element-f8676e0
  .elementor-image-box-wrapper
  img {
  border-radius: 50%;
}
.elementor-8014
  .elementor-element.elementor-element-f8676e0
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-8014
  .elementor-element.elementor-element-f8676e0
  .elementor-image-box-content
  .elementor-image-box-title {
  font-weight: 600;
}
.elementor-8014
  .elementor-element.elementor-element-f8676e0
  .elementor-image-box-content
  .elementor-image-box-description {
  color: #ffffff;
  font-weight: 600;
}
.elementor-8014 .elementor-element.elementor-element-f8676e0 {
  width: auto;
  max-width: auto;
}
.elementor-8014
  .elementor-element.elementor-element-0012607
  > .elementor-container {
  min-height: 500px;
}
.elementor-8014
  .elementor-element.elementor-element-0012607
  > .elementor-container:after {
  content: "";
  min-height: inherit;
}
.elementor-8014
  .elementor-element.elementor-element-0012607:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8014
  .elementor-element.elementor-element-0012607
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #989898;
  background-image: url("content/uploads/2021/09/Key-Features-CoRover.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-8014
  .elementor-element.elementor-element-0012607
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(60deg, #c5c5c5fc 0%, #d49833 100%);
  opacity: 0.64;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8014 .elementor-element.elementor-element-0012607 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 40px 0px;
}
.elementor-bc-flex-widget
  .elementor-8014
  .elementor-element.elementor-element-2821797.elementor-column
  .elementor-column-wrap {
  align-items: flex-end;
}
.elementor-8014
  .elementor-element.elementor-element-2821797.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-8014
  .elementor-element.elementor-element-2821797:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-8014
  .elementor-element.elementor-element-2821797
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #143b83;
}
.elementor-8014
  .elementor-element.elementor-element-2821797
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 3% 4% 3% 4%;
}
.elementor-8014
  .elementor-element.elementor-element-2821797
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8014 .elementor-element.elementor-element-f832dd2 {
  text-align: left;
}
.elementor-8014
  .elementor-element.elementor-element-f832dd2
  .elementor-heading-title {
  color: #ffffff;
  font-weight: 700;
}
.elementor-8014
  .elementor-element.elementor-element-f832dd2
  > .elementor-widget-container {
  margin: 0px 0px 10px 0px;
}
.elementor-8014 .elementor-element.elementor-element-d0b77e6 {
  color: #e4e4e4;
  font-family: "Montserrat", Sans-serif;
}
.elementor-8014 .elementor-element.elementor-element-6fc04f4 {
  color: #e4e4e4;
  font-size: 14px;
  width: auto;
  max-width: auto;
}
.elementor-8014
  .elementor-element.elementor-element-6fc04f4
  > .elementor-widget-container {
  margin: 0px 20px 0px 0px;
}
.elementor-8014 .elementor-element.elementor-element-7b0f277 {
  color: #e4e4e4;
  font-size: 14px;
  width: auto;
  max-width: auto;
}
.elementor-8014
  .elementor-element.elementor-element-7b0f277
  > .elementor-widget-container {
  margin: 0px 20px 0px 0px;
}
body.elementor-page-8014 h1.entry-title {
  margin-top: 1px;
}
:root {
  --page-title-display: none;
}
@media (min-width: 768px) {
  .elementor-8014 .elementor-element.elementor-element-69375e2 {
    width: 19.753%;
  }
  .elementor-8014 .elementor-element.elementor-element-ff463a3 {
    width: 2.255%;
  }
  .elementor-8014 .elementor-element.elementor-element-9186057 {
    width: 77.324%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-8014 .elementor-element.elementor-element-9186057 {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .elementor-8014 .elementor-element.elementor-element-69375e2 {
    width: 30%;
  }
  .elementor-8014 .elementor-element.elementor-element-ff463a3 {
    width: 70%;
  }
  .elementor-8014
    .elementor-element.elementor-element-ff463a3.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: flex-end;
  }
  .elementor-8014
    .elementor-element.elementor-element-ff463a3
    > .elementor-column-wrap
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
      .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-8014
    .elementor-element.elementor-element-ff463a3
    > .elementor-element-populated {
    padding: 10px 0px 10px 0px;
  }
  .elementor-8014 .elementor-element.elementor-element-c27d1a0 {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-8014 .elementor-element.elementor-element-e0ca002 {
    width: 35%;
  }
  .elementor-8014
    .elementor-element.elementor-element-e0ca002
    > .elementor-column-wrap
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
      .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-8014
    .elementor-element.elementor-element-b29dc60
    .elementor-image
    img {
    border-radius: 30px 30px 30px 30px;
  }
  .elementor-8014
    .elementor-element.elementor-element-b29dc60
    > .elementor-widget-container {
    margin: 0px 6px 0px 0px;
  }
  .elementor-8014 .elementor-element.elementor-element-cc76e7d {
    width: 65%;
  }
  .elementor-bc-flex-widget
    .elementor-8014
    .elementor-element.elementor-element-cc76e7d.elementor-column
    .elementor-column-wrap {
    align-items: center;
  }
  .elementor-8014
    .elementor-element.elementor-element-cc76e7d.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
  }
  .elementor-8014 .elementor-element.elementor-element-59acf8c {
    font-size: 15px;
  }
  .elementor-8014 .elementor-element.elementor-element-496a58d {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-8014 .elementor-element.elementor-element-3e8b046 {
    width: 35%;
  }
  .elementor-8014
    .elementor-element.elementor-element-3e8b046
    > .elementor-column-wrap
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
      .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-8014
    .elementor-element.elementor-element-80a9bfe
    .elementor-image
    img {
    border-radius: 30px 30px 30px 30px;
  }
  .elementor-8014
    .elementor-element.elementor-element-80a9bfe
    > .elementor-widget-container {
    margin: 0px 6px 0px 0px;
  }
  .elementor-8014 .elementor-element.elementor-element-27f4d73 {
    width: 65%;
  }
  .elementor-8014 .elementor-element.elementor-element-b504542 {
    font-size: 15px;
  }
  .elementor-8014
    .elementor-element.elementor-element-6cbb1ad
    .elementor-image-box-img {
    margin-bottom: 7px;
  }
  .elementor-8014
    .elementor-element.elementor-element-f8676e0
    .elementor-image-box-img {
    margin-bottom: 7px;
  }
  .elementor-8014 .elementor-element.elementor-element-0012607 {
    padding: 30% 0% 30% 0%;
  }
  .elementor-bc-flex-widget
    .elementor-8014
    .elementor-element.elementor-element-2821797.elementor-column
    .elementor-column-wrap {
    align-items: flex-end;
  }
  .elementor-8014
    .elementor-element.elementor-element-2821797.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
  }
  .elementor-8014
    .elementor-element.elementor-element-2821797
    > .elementor-element-populated {
    padding: 10% 10% 10% 10%;
  }
  .elementor-8014 .elementor-element.elementor-element-d0b77e6 {
    font-size: 16px;
  }
}
