.elementor-16750
  .elementor-element.elementor-element-f0903a1:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-16750
  .elementor-element.elementor-element-f0903a1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #91bad5;
  background-image: url("content/uploads/2023/02/robot-hand-side-view-background-presenting-technology-gesture-scaled.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.elementor-16750 .elementor-element.elementor-element-f0903a1 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 89px 0px;
}
.elementor-16750
  .elementor-element.elementor-element-f0903a1
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16750
  .elementor-element.elementor-element-11b0cec
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-16750
  .elementor-element.elementor-element-0112220
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-16750 .elementor-element.elementor-element-0112220 {
  margin-top: 63px;
  margin-bottom: 51px;
  padding: 32px 0px 0px 0px;
}
.elementor-16750
  .elementor-element.elementor-element-75594d3
  > .elementor-element-populated {
  margin: -54px 0px 70px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-16750
  .elementor-element.elementor-element-9625a74
  > .elementor-widget-container {
  margin: -2px -2px -2px -2px;
}
.elementor-16750 .elementor-element.elementor-element-07862c4 {
  text-align: center;
}
.elementor-16750
  .elementor-element.elementor-element-07862c4
  .elementor-heading-title {
  color: #ef1010;
}
.elementor-16750
  .elementor-element.elementor-element-07862c4
  > .elementor-widget-container {
  margin: 21px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-16750
  .elementor-element.elementor-element-07862c4:hover
  > .elementor-widget-container {
  border-radius: 0px 0px 0px 0px;
}
.elementor-16750 .elementor-element.elementor-element-bb92065 .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-16750
  .elementor-element.elementor-element-bb92065
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-16750
  .elementor-element.elementor-element-bb92065
  .elementor-icon-box-description {
  text-align: left;
}
.elementor-16750 .elementor-element.elementor-element-3e973ef {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-16750
  .elementor-element.elementor-element-301f47a
  > .elementor-element-populated {
  margin: 30px 200px 30px 200px;
  padding: 0px 0px 0px 0px;
}
.elementor-16750 .elementor-element.elementor-element-2a4dead,
.elementor-16750
  .elementor-element.elementor-element-2a4dead
  > .elementor-background-overlay {
  border-radius: 10px 10px 10px 10px;
}
.elementor-16750 .elementor-element.elementor-element-2a4dead {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 0px 10px 0px;
}
.elementor-16750
  .elementor-element.elementor-element-7b72934
  > .elementor-element-populated {
  margin: -2px -2px -2px -2px;
}
.elementor-16750
  .elementor-element.elementor-element-99515f4
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
  background-color: #292e31;
}
.elementor-16750 .elementor-element.elementor-element-7b42545 {
  margin-top: 20px;
  margin-bottom: 0px;
}
.elementor-16750 .elementor-element.elementor-element-953549e {
  margin-top: 26px;
  margin-bottom: 0px;
}
.elementor-16750
  .elementor-element.elementor-element-4a0af0c
  .elementor-image
  img {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 10px 0px rgba(145, 145, 145, 0.5);
}
.elementor-16750 .elementor-element.elementor-element-2ace2d7 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.elementor-16750
  .elementor-element.elementor-element-4fa381e
  .elementor-button {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: #ff5e13;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ff5e13;
  border-radius: 15px 15px 15px 15px;
  padding: 15px 15px 15px 15px;
}
.elementor-16750
  .elementor-element.elementor-element-4fa381e
  > .elementor-widget-container {
  margin: -20px 25px 0px 50px;
  padding: 0px 0px 0px 0px;
}
.elementor-16750 .elementor-element.elementor-element-4fa381e {
  width: auto;
  max-width: auto;
}
body.elementor-page-16750 h1.entry-title {
  margin-top: 1px;
}
:root {
  --page-title-display: none;
}
@media (min-width: 1025px) {
  .elementor-16750
    .elementor-element.elementor-element-f0903a1:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-16750
    .elementor-element.elementor-element-f0903a1
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
}
@media (max-width: 767px) {
  .elementor-16750
    .elementor-element.elementor-element-f0903a1:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-16750
    .elementor-element.elementor-element-f0903a1
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url("content/uploads/2023/02/robot-hand-side-view-background-presenting-technology-gesture-scaled.jpg");
    background-size: cover;
  }
  .elementor-16750
    .elementor-element.elementor-element-301f47a
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-16750
    .elementor-element.elementor-element-7b72934
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
  }
  .elementor-16750
    .elementor-element.elementor-element-4a0af0c
    > .elementor-widget-container {
    padding: 0px 0px 30px 0px;
  }
}
