.elementor-3019
  .elementor-element.elementor-element-2dc85e4:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-3019
  .elementor-element.elementor-element-2dc85e4
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f2f2f2;
}
.elementor-3019 .elementor-element.elementor-element-2dc85e4 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 0px 40px 0px;
}
.elementor-3019
  .elementor-element.elementor-element-2dc85e4
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-3019
  .elementor-element.elementor-element-0da246f.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-3019
  .elementor-element.elementor-element-0da246f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-bc-flex-widget
  .elementor-3019
  .elementor-element.elementor-element-05d30e1.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-3019
  .elementor-element.elementor-element-05d30e1.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-3019 .elementor-element.elementor-element-648e367 .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-3019
  .elementor-element.elementor-element-648e367
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: left;
}
.elementor-3019
  .elementor-element.elementor-element-648e367
  .elementor-icon-box-content
  .elementor-icon-box-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-3019
  .elementor-element.elementor-element-648e367
  .elementor-icon-box-content
  .elementor-icon-box-description {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-3019
  .elementor-element.elementor-element-2560883:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-3019
  .elementor-element.elementor-element-2560883
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #292e31;
}
.elementor-3019 .elementor-element.elementor-element-2560883 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-3019
  .elementor-element.elementor-element-2560883
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3019
  .elementor-element.elementor-element-7b03285
  .elementor-spacer-inner {
  height: 40px;
}
.elementor-3019 .elementor-element.elementor-element-9043813 .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-3019
  .elementor-element.elementor-element-9043813
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-3019
  .elementor-element.elementor-element-9043813.elementor-view-stacked
  .elementor-icon {
  background-color: #555555;
}
.elementor-3019
  .elementor-element.elementor-element-9043813.elementor-view-framed
  .elementor-icon,
.elementor-3019
  .elementor-element.elementor-element-9043813.elementor-view-default
  .elementor-icon {
  color: #555555;
  border-color: #555555;
}
.elementor-3019
  .elementor-element.elementor-element-9043813
  .elementor-icon-box-content
  .elementor-icon-box-description {
  color: #cccccc;
}
.elementor-3019
  .elementor-element.elementor-element-9043813
  .elementor-icon-box-content
  .elementor-icon-box-description
  a {
  color: #cccccc;
}
.elementor-3019
  .elementor-element.elementor-element-508af17
  .elementor-spacer-inner {
  height: 20px;
}
.elementor-3019
  .elementor-element.elementor-element-2182574
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-3019
  .elementor-element.elementor-element-1948ebd
  .th-service-block-w {
  max-width: 280px;
  margin: 0 auto;
}
.elementor-3019
  .elementor-element.elementor-element-1948ebd
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-3019
  .elementor-element.elementor-element-e045a3b
  .elementor-counter-number-wrapper {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-3019
  .elementor-element.elementor-element-e045a3b
  .elementor-counter-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.elementor-3019
  .elementor-element.elementor-element-f071621
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-3019
  .elementor-element.elementor-element-84a0d12
  .th-service-block-w {
  max-width: 280px;
  margin: 0 auto;
}
.elementor-3019
  .elementor-element.elementor-element-aafa81b
  .elementor-counter-number-wrapper {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-3019
  .elementor-element.elementor-element-aafa81b
  .elementor-counter-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.elementor-3019
  .elementor-element.elementor-element-91e9a37
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-3019
  .elementor-element.elementor-element-70f8fc9
  .th-service-block-w {
  max-width: 280px;
  margin: 0 auto;
}
.elementor-3019
  .elementor-element.elementor-element-9f1ac8f
  .elementor-counter-number-wrapper {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-3019
  .elementor-element.elementor-element-9f1ac8f
  .elementor-counter-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3em;
}
.elementor-3019
  .elementor-element.elementor-element-26d2d19
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-3019
  .elementor-element.elementor-element-caa9cae
  .th-service-block-w {
  max-width: 280px;
  margin: 0 auto;
}
.elementor-3019
  .elementor-element.elementor-element-2d24578
  .elementor-counter-number-wrapper {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-3019
  .elementor-element.elementor-element-2d24578
  .elementor-counter-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3em;
}
.elementor-3019
  .elementor-element.elementor-element-3d337bb
  .elementor-spacer-inner {
  height: 20px;
}
.elementor-3019
  .elementor-element.elementor-element-23a2686
  .elementor-spacer-inner {
  height: 40px;
}
.elementor-3019
  .elementor-element.elementor-element-0d6756d:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-column-wrap,
.elementor-3019
  .elementor-element.elementor-element-0d6756d
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("content/uploads/2020/07/why-us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-3019
  .elementor-element.elementor-element-0d6756d
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-3019
  .elementor-element.elementor-element-0d6756d
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-3019
  .elementor-element.elementor-element-79f2d77.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-3019
  .elementor-element.elementor-element-79f2d77.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-3019
  .elementor-element.elementor-element-79f2d77
  > .elementor-element-populated {
  padding: 0px 20px 0px 20px;
}
.elementor-3019
  .elementor-element.elementor-element-21bf4cd
  .elementor-spacer-inner {
  height: 20px;
}
.elementor-3019
  .elementor-element.elementor-element-a94c8a7
  .elementor-spacer-inner {
  height: 20px;
}
.elementor-3019 .elementor-element.elementor-element-063e90d .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-3019
  .elementor-element.elementor-element-063e90d
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: left;
}
.elementor-3019
  .elementor-element.elementor-element-063e90d
  .elementor-icon-box-description {
  text-align: left;
}
.elementor-3019
  .elementor-element.elementor-element-063e90d
  .elementor-icon-box-content
  .elementor-icon-box-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-3019
  .elementor-element.elementor-element-063e90d
  .elementor-icon-box-content
  .elementor-icon-box-description {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-3019
  .elementor-element.elementor-element-d6487c9
  .elementor-icon-box-content
  .elementor-icon-box-title
  span {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: 600;
}
.elementor-3019
  .elementor-element.elementor-element-d6487c9
  .elementor-icon-box-content
  .elementor-icon-box-description,
.elementor-3019
  .elementor-element.elementor-element-d6487c9
  .elementor-icon-box-content
  .elementor-icon-box-description
  a {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-3019
  .elementor-element.elementor-element-23f9617
  .elementor-icon-box-content
  .elementor-icon-box-title
  span {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: 600;
}
.elementor-3019
  .elementor-element.elementor-element-23f9617
  .elementor-icon-box-content
  .elementor-icon-box-description,
.elementor-3019
  .elementor-element.elementor-element-23f9617
  .elementor-icon-box-content
  .elementor-icon-box-description
  a {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-3019
  .elementor-element.elementor-element-3621ac3
  .elementor-icon-box-content
  .elementor-icon-box-title
  span {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: 600;
}
.elementor-3019
  .elementor-element.elementor-element-3621ac3
  .elementor-icon-box-content
  .elementor-icon-box-description,
.elementor-3019
  .elementor-element.elementor-element-3621ac3
  .elementor-icon-box-content
  .elementor-icon-box-description
  a {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-3019
  .elementor-element.elementor-element-bd629ee
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-3019
  .elementor-element.elementor-element-fd7be6c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-3019
  .elementor-element.elementor-element-fd7be6c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ff5e13;
}
.elementor-3019 .elementor-element.elementor-element-fd7be6c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-3019
  .elementor-element.elementor-element-fd7be6c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3019
  .elementor-element.elementor-element-8005a1b
  .elementor-spacer-inner {
  height: 25px;
}
.elementor-3019 .elementor-element.elementor-element-dc3895f .th-cta-text span {
  color: #ffffff;
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-3019
  .elementor-element.elementor-element-dc3895f
  .th-cta-btn
  .btn-1 {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: bold;
}
.elementor-3019
  .elementor-element.elementor-element-90f99f9
  .elementor-spacer-inner {
  height: 20px;
}
.elementor-3019
  .elementor-element.elementor-element-213bab5:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-3019
  .elementor-element.elementor-element-213bab5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-3019 .elementor-element.elementor-element-213bab5 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 40px 40px 40px;
}
.elementor-3019
  .elementor-element.elementor-element-213bab5
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3019
  .elementor-element.elementor-element-bbb765c
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-3019 .elementor-element.elementor-element-119a111 .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-3019
  .elementor-element.elementor-element-119a111
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-3019
  .elementor-element.elementor-element-119a111
  .elementor-icon-box-content
  .elementor-icon-box-title {
  color: #272727;
  font-weight: 600;
}
.elementor-3019
  .elementor-element.elementor-element-6610cf9
  .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-3019
  .elementor-element.elementor-element-6610cf9
  .elementor-swiper-button.elementor-swiper-button-next {
  font-size: 20px;
  color: #555555;
}
.elementor-3019
  .elementor-element.elementor-element-2f3a14b
  .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-3019
  .elementor-element.elementor-element-2f3a14b
  .elementor-swiper-button.elementor-swiper-button-next {
  font-size: 20px;
  color: #555555;
}
.elementor-3019 .elementor-element.elementor-element-9e623c0 .th-header-wrap {
  max-width: 100%;
  margin: 0 auto;
}
.elementor-3019
  .elementor-element.elementor-element-9e623c0
  .th-header-wrap
  .elementor-icon-box-wrapper {
  text-align: center;
}
.elementor-3019
  .elementor-element.elementor-element-9e623c0
  .elementor-icon-box-content
  .elementor-icon-box-title {
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
}
.elementor-3019
  .elementor-element.elementor-element-3afac48
  .elementor-spacer-inner {
  height: 40px;
}
body.elementor-page-3019 h1.entry-title {
  margin-top: 1px;
}
:root {
  --page-title-display: none;
}
@media (max-width: 1024px) {
  .elementor-3019
    .elementor-element.elementor-element-21bf4cd
    .elementor-spacer-inner {
    height: 0px;
  }
}
@media (max-width: 767px) {
  .elementor-3019
    .elementor-element.elementor-element-648e367
    .elementor-icon-box-content
    .elementor-icon-box-title {
    font-size: 24px;
  }
  .elementor-3019
    .elementor-element.elementor-element-648e367
    .elementor-icon-box-content
    .elementor-icon-box-description {
    font-size: 16px;
  }
  .elementor-3019
    .elementor-element.elementor-element-21bf4cd
    .elementor-spacer-inner {
    height: 0px;
  }
  .elementor-3019 .elementor-element.elementor-element-213bab5 {
    padding: 25px 25px 25px 25px;
  }
  .elementor-3019
    .elementor-element.elementor-element-bbb765c
    > .elementor-column-wrap
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
      .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
}
@media (min-width: 1025px) {
  .elementor-3019
    .elementor-element.elementor-element-0d6756d:not(
      .elementor-motion-effects-element-type-background
    )
    > .elementor-column-wrap,
  .elementor-3019
    .elementor-element.elementor-element-0d6756d
    > .elementor-column-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
}
